<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.himedia_shop.mapper.HistoryMapper">

    <resultMap id="historyResultMap" type="com.example.tobi.himedia_shop.dto.history.PurchaseHistoryWithProductDTO">
        <result property="img" column="img"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="purchaseVolume" column="purchaseVolume"/>
        <result property="userId" column="user_id"/> <!-- userId를 추가 -->
    </resultMap>

    <select id="findPurchaseHistoryWithProductByUserId" resultMap="historyResultMap">
        SELECT
            p.content_img AS img,                 -- 제품 이미지
            p.title AS title,                     -- 제품 제목
            p.price AS price,                     -- 가격
            ph.purchase_volume AS purchaseVolume, -- 구매 수량
            ph.user_id AS user_id                 -- 사용자 ID 추가
        FROM purchasehistory ph
                 JOIN products p ON ph.product_id = p.id
        WHERE ph.user_id = #{userId}
    </select>

</mapper>
