<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.tobi.himedia_shop.mapper.HistoryMapper">

    <resultMap id="historyResultMap" type="com.example.tobi.himedia_shop.dto.history.PurchaseHistoryWithProductDTO">
        <result property="img" column="img"/>
        <result property="title" column="title"/>
        <result property="price" column="price"/>
        <result property="purchaseVolume" column="purchaseVolume"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <select id="findPurchaseHistoryWithProductByUserId" resultMap="historyResultMap">
        SELECT
            p.content_img AS img,
            p.title AS title,
            p.price AS price,
            ph.purchase_volume AS purchaseVolume,
            ph.user_id AS user_id
        FROM purchasehistory ph
                 JOIN products p ON ph.product_id = p.id
        WHERE ph.user_id = #{userId}
            LIMIT #{offset}, #{pageSize}
    </select>

    <select id="findPurchaseHistory" parameterType="String" resultType="int">
        SELECT count(id)
        FROM purchasehistory
        WHERE user_id = #{userId}
    </select>


</mapper>
