<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.tobi.himedia_shop.mapper.product.ReviewMapper">
    <resultMap id="reviewResultMap" type="com.example.tobi.himedia_shop.model.Review">
        <result property="id" column="id" />
        <result property="productId" column="product_id" />
        <result property="userId" column="user_id" />
        <result property="title" column="title" />
        <result property="review" column="review" />
        <result property="reviewDate" column="review_date" />
        <result property="score" column="score" />
        <result property="reviewImg" column="review_img" />
    </resultMap>

    <insert id="reviewInsert" parameterType="com.example.tobi.himedia_shop.model.Review">
        INSERT INTO review (product_id,user_id,title, review, score,review_img)
        VALUES (#{productId},#{userId},#{title}, #{review}, #{score},#{reviewImg})
    </insert>
    <delete id="reviewDelete" parameterType="Integer">
        DELETE FROM review
        WHERE id = ${reviewId};
    </delete>


    <select id="getPageReviews" parameterType="com.example.tobi.himedia_shop.dto.product.review.ReviewQueryDTO" resultMap="reviewResultMap">
        SELECT id, product_id, user_id, title, review, review_date, score, review_img
        FROM (
        SELECT
        id, product_id, user_id, title, review, review_date, score, review_img,
        ROW_NUMBER() OVER (ORDER BY id) AS rn
        FROM review
        WHERE product_id = #{productId}
        ) AS sub
        WHERE sub.rn > #{offset} AND  #{offset} + #{limit} >= sub.rn
    </select>

    <select id="countReviews" resultType="int">
        SELECT COUNT(*) FROM review
        WHERE product_id = #{productId}
    </select>
   <select id="getProductIdFromReviewId" parameterType="int" resultType="int">
        SELECT product_id FROM review
        WHERE id = #{reviewId}
    </select>




    <insert id="reviewInserta" parameterType="java.util.List">
        INSERT INTO review (product_id, user_id, title, review, score, review_img)
        VALUES
        <foreach collection="list" item="review" separator=",">
            (#{review.productId}, #{review.userId}, #{review.title}, #{review.review}, #{review.score}, #{review.reviewImg})
        </foreach>
    </insert>

    <select id="getAllReviewsa" resultMap="reviewResultMap">
        SELECT
            id, product_id, user_id, title, review, review_date, score, review_img
        FROM review
    </select>
</mapper>

